* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 71vw;
  margin: 0 auto;
}

.titles {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}

.first__title {
  font-size: 23px;
  font-weight: 700;
  padding-left: 20px;
}

.first__title > span {
  font-size: 18px;
  color: gray;
  font-weight: 400;
}

.carousel__img2 {
  position: relative;
  padding-left: 20px;
}

.image__block {
  width: 300px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
}

.image__block > img {
  width: 300px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.image__block:hover img {
  filter: brightness(85%);
  transform: scale(1.1);
}

.price {
  background-color: white;
  position: absolute;
  padding: 20px 20px;
  border-radius: 10px;
  font-size: 23px;
  color: #90687e;
  bottom: 20%;
  left: 70%;
  z-index: 2;
}

.dishes__name {
  font-weight: 600;
  margin-top: 2vh;
  margin-bottom: 1vh;
  max-width: 150px;
  margin-right: 0;
  margin-left: 0;
  font-size: 18px;
}

.info {
  font-size: 14px;
  color: gray;
}

.arrowLeftSVG {
  z-index: 3;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.arrowleft {
  padding: 20px !important;
  border-radius: 100px;
  z-index: 2;
}

.arrowright {
  padding: 20px !important;
  border-radius: 100px;
  z-index: 2;
}

.arrowRightSVG {
  z-index: 3;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: black;
}

.addToCart {
  margin-top: 1vh;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: #90687e;
  color: white;
  cursor: pointer;
}

.added {
  border: 1px solid #90687e;
  color: #90687e;
  background-color: initial;
}

.firstCard > .image__block {
  width: 350px;
  height: 400px;
}

.firstCard > .image__block > img {
  width: 350px;
  height: 400px;
  object-fit: cover;
}

@media (max-width: 900px) {
  .first__title {
    font-size: 20px;
  }
  .first__title > span {
    font-size: 16px;
  }
  .carousel__img2 > img {
    height: 300px;
    width: 250px;
  }
  .price {
    padding: 10px;
    margin-left: 20px;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 380px) {
  .first__title {
    font-size: 16px;
  }
  .first__title > span {
    font-size: 14px;
  }
  .carousel__img2 > img {
    height: 300px;
    width: 250px;
  }
  .price {
    padding: 10px;
    margin-left: 20px;
    font-size: 18px;
  }
}
